@{
    ViewData["Title"] = "Login";
}

<form action="LoginForm" method="post">
  <div class="form-group">
    <label for="NombreUsuario">Nombre de Usuario</label>
    <input type="text" class="form-control" name="NombreUsuario" id="NombreUsuario" placeholder="Usuario...">
  </div>
  <div class="form-group">
    <label for="Contrasena">Contraseña</label>
    <input type="password" class="form-control" name="Contrasena" id="Contrasena" placeholder="Contraseña...">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>