@{
    ViewData["Title"] = "Login";
}


<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="LoginForm" method="post">
    <h3>Inicia Sesion</h3>

    <label for="NombreUsuario">Usuario</label>
    <input type="text" name="NombreUsuario" id="NombreUsuario" placeholder="Usuario...">

    <label for="Contrasena">Contraseña</label>
    <input type="password" name="Contrasena" id="Contrasena" placeholder="Contraseña...">

    <button type="submit">login</button>
    <div class="olvide">
      <div class="fb">Olvide mi contraseña</div>
    </div>
</form>
