@{
    ViewData["Title"] = "Register";
}

<form action="RegisterForm" method="post">
  <div class="form-group">
    <label for="NombreUsuario">Nombre de Usuario</label>
    <input type="text" class="form-control" name="NombreUsuario" id="NombreUsuario" placeholder="Usuario...">
  </div>
  <div class="form-group">
    <label for="Contrasena">Contraseña</label>
    <input type="password" class="form-control" name="Contrasena" id="Contrasena" placeholder="Contraseña...">
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre real</label>
    <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Nombre...">
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" class="form-control" name="Email" id="Email" placeholder="Email...">
  </div>
  <div class="form-group">
    <label for="idPregunta">Pregunta de Seguridad</label>
    <select class="form-control" id="idPregunta">
        @foreach(Pregunta pregunta in ViewBag.Preguntas){
            <option value="@pregunta.idPregunta">@pregunta.Enunciado</option>
        }
    </select>
  </div>
    <div class="form-group">
    <label for="RespuestaPregunta">Respuesta a la pregunta</label>
    <input type="text" class="form-control" name="RespuestaPregunta" id="RespuestaPregunta" placeholder="Respuesta...">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>