@{
    ViewData["Title"] = "Register";
}

<div class="background">
    <div class="shape" id="b1"></div>
    <div class="shape" id="b2">></div>
</div>
<form action="RegisterForm" method="post" id="registrar">
<h3>Registrarse</h3>
  <div id="regitros">
    <div class="c">
    <div class="form-group">
    <label for="NombreUsuario">Nombre de Usuario</label>
    <input type="text"  name="NombreUsuario" id="NombreUsuario" placeholder="Usuario...">
  </div>
  <div class="form-group">
    <label for="ContrasenaR">Contraseña</label>
    <input type="password"  name="Contrasena" id="ContrasenaR" placeholder="Contraseña...">
    <small class="form-text text-muted">La contraseña debe tener 8 o más caracteres, un caracteres especial y una letra mayúscula</small>
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre real</label>
    <input type="text"  name="Nombre" id="Nombre" placeholder="Nombre...">
  </div>
  </div>
  <div class="c">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email"  name="Email" id="Email" placeholder="Email...">
      </div>
      <div class="form-group">
        <label for="idPregunta">Pregunta de Seguridad</label>
        <select id="idPregunta">
            @foreach(Pregunta pregunta in ViewBag.Preguntas){
                <option value="@pregunta.idPregunta">@pregunta.Enunciado</option>
            }
        </select>
      </div>
        <div class="form-group">
        <label for="RespuestaPregunta">Respuesta a la pregunta</label>
        <input type="text"  name="RespuestaPregunta" id="RespuestaPregunta" placeholder="Respuesta...">
      </div>
  <button type="submit" id="bc">Submit</button>
  </div>
  </div>
  
</form>