<form action="Reset" method="post">
    <input type="number" name="idUsuario" value="@ViewBag.Usuario.idUsuario" hidden>
    <div class="form-group">
        <label for="password">Nueva contraseña...</label>
       <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña...">
    </div>
    <button type="submit">Resetear</button>
</form>